services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    user: root
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8081:8080"
      - "50000:50000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /home/admin/devops-stack/employee-api:/var/jenkins_home/workspace/alya/employee-api
      - /home/admin/devops-stack/k8s:/var/jenkins_home/workspace/alya/k8s
      - /home/admin/.kube/config-jenkins:/var/jenkins_home/.kube/config:ro
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - KUBECONFIG=/var/jenkins_home/.kube/config
    networks:
      - ci-network
  sonarqube:
    image: sonarqube:lts-community
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    networks:
      - ci-network

networks:
  ci-network:
    driver: bridge

volumes:
  jenkins_home:
  sonarqube_data:
  sonarqube_logs:
